node_modules

dist/
build/
/out/
.cache

.vscode/*
!.vscode/extensions.json

.env
.env.production
.env.keys
!.env.example

infrastructure/**/logs
infrastructure/**/data/*
infrastructure/secrets/*

infrastructure/authelia/*
!infrastructure/authelia/config
!infrastructure/authelia/compose.authelia.yaml

!infrastructure/postgres/data/pg_wal/*
!infrastructure/postgres/data/pg_hba.conf
!infrastructure/postgres/data/postgresql.conf

pglite
*.sqlite
*.sqlite3
*.db

__pycache__/
*.py[cod]
venv/

.DS_Store


