node_modules

dist/
build/
/out/
.cache

.vscode/*
!.vscode/extensions.json

.env
.env.production

infrastructure/**/logs
infrastructure/**/data/*
infrastructure/**/data-development/*
infrastructure/secrets/*

infrastructure/crowdsec/config/**/*
!infrastructure/crowdsec/config/parsers
infrastructure/crowdsec/local_api_credentials.yaml
infrastructure/crowdsec/online_api_credentials.yaml

infrastructure/dozzle/config/users.yml

infrastructure/authelia/config
!infrastructure/authelia/config/configuration.yml
!infrastructure/authelia/config/users.example.yml

!infrastructure/postgres/data/pg_wal/*
!infrastructure/postgres/data/pg_hba.conf
!infrastructure/postgres/data/postgresql.conf

pglite
*.sqlite
*.sqlite3
*.db

__pycache__/
*.py[cod]
venv/

.DS_Store


