node_modules

**/dist
**/.cache
.DS_Store

.env
.env.production

.env.keys

infrastructure/secrets/*
infrastructure/traefik/logs/*

infrastructure/authelia/*
!infrastructure/authelia/config
!infrastructure/authelia/compose.authelia.yaml

infrastructure/postgres/data
!infrastructure/postgres/data/pg_wal/*
!infrastructure/postgres/data/pg_hba.conf
!infrastructure/postgres/data/postgresql.conf

infrastructure/traefik/logs/access.log

shared/database/pglite

*.sqlite
*.sqlite3
*.db

__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/

.idea/
*.sublime-project
*.sublime-workspace

*.egg-info/
*.egg/
dist/
build/
