http:
  routers:
    server-external:
      rule: Host(`api.localhost`) && (PathPrefix(`/docs`))
      entryPoints:
        - "web-secure"
      # tls:
      # - true
      # middlewares:
      # - chain-authelia
      service: "server-external"
    server-internal:
      rule: Host(`api.localhost`)
      entryPoints:
        - "web-secure"
      # tls:
      # - true
      # middlewares:
      # - chain-no-auth
      service: "server-internal"
    admin:
      rule: Host(`admin.localhost`)
      entryPoints:
        - "web-secure"
      # tls:
      # - true
      service: "admin"
    web:
      rule: Host(`localhost`)
      entryPoints:
        - "web-secure"
      # tls:
      # - true
      service: "web"

  services:
    server-external:
      loadBalancer:
        servers:
        - url: "http://host.docker.internal:3001/"
    server-internal:
      loadBalancer:
        servers:
        - url: "http://host.docker.internal:3001/"
    admin:
      loadBalancer:
        servers:
        - url: "http://host.docker.internal:5174/"
    web:
      loadBalancer:
        servers:
        - url: "http://host.docker.internal:5175/"